*.STL
Code/STM32_Car/OUTPUT/
Code/STM32_Car/USER/Minibalance.uvopt
Code/STM32_Car/USER/Minibalance.uvgui.YOURS
Hardware/Connect_PCB/History/
Hardware/Connect_PCB/Project Logs for Connect_PCB/
Hardware/Connect_PCB/__Previews/
