*.STL
Code/STM32_Car/OUTPUT/
Code/STM32_Car/USER/Minibalance.uvopt
Code/STM32_Car/USER/Minibalance.uvgui.YOURS
Hardware/Connect_PCB/History/
Hardware/Connect_PCB/Project Logs for Connect_PCB/
Hardware/Connect_PCB/__Previews/
Hardware/Connect_PCB/Project Outputs for Connect_PCB/Design Rule Check - Connect_PCB.drc
Hardware/Connect_PCB/Project Outputs for Connect_PCB/Design Rule Check - Connect_PCB.html
